


// =============================================================
//     CREATED ON :2018-08-05 13:34:32
//     GMT+0530 (India Standard Time)
//     CREATED BY : AVIJIT SARKAR <https://twitter.com/inset_>
// -------------------------------------------------------------
//     THIS IS THE MAIN THEME CONFIG FILE
//     PLEASE UPDATE VALUDE OF THIS VARS TO
//     SEE EFFECTS.
//     ALL OTHER TEMPLATES WILL FOLLOW THIS VARS VALUES
//     MEANS THEY WILL BE AUTO UPDATED
// =============================================================

//[COLORS] :
$BACKGROUND : #F8F9FC ;

$OPTIONAL:  #F8F9FC ;// in case you have a tertiary color schem

// COLOR - SCHIM 
$PRIMARY_COLOR: #313A5A;
$SECONDARY_COLOR: #1FDB84;


//PUBLIC COLOR LISTS :
$PUBLIC_COLOR_SCHEMS: "primary" "secondary" ;
$PUBLIC_COLORS_TYPES: "light" "dark" ;

$PUBLIC_FONT_SIZE : 10 12 14 15 16 18 20 22 26 30 ;
$PUBLIC_HEIGHT_IN_EM: 2 5 7 9 10 12 13 14 15 16 17 18 20 ;
$PUBLIC_MARGIN_TOP:1 2 3 4 5 6 7 8 9 10 11 12 14 15 16 18 20;

$SCALE : 2 4 5 7 9;

// SINGS :
$minus:"-";