//- //
//-     THIS IS JUST A LIST OF UI / CONTENT-PARTS  WE ARE
//-     PUTTING ALL IN A SINGLE FILE .
//-     ONLY INCLUDE "./content-**.pug" 
//-     NOT "./part-**.pug" FILES
//-     _______________________________________________________
//-     @TEMPLATE NAME : CONTENT LIST
//-     @PACKAGE : #{package}
//-     @SUPPORT : <https://twitter.com/inset_>
//-     _______________________________________________________
//-     CREATED ON : 2018-08-15 19:47:39
//-     GMT+0530 (India Standard Time)
//-     CREATED BY : AVIJIT SARKAR <https://twitter.com/inset_>
//-     _______________________________________________________
//- //


//- content : header 
include ./content-header.pug

//- content body starts here 
include ./content-msg.pug

//- content : footer 
//- DO NOT INCLUDE SCRIPTS FILES HERE . BUT INCLUDE THEM IN ("./part-footer.pug")
include ./content-footer.pug