//
    _______________________________________________________
    @TEMPLATE NAME : WELLCOME MSG
    @PACKAGE : #{projectName}
    @SUPPORT : <https://twitter.com/inset_>
    _______________________________________________________
    CREATED ON : 2018-08-15 20:07:07
    GMT+0530 (India Standard Time)
    CREATED BY : AVIJIT SARKAR <https://twitter.com/inset_>
    _______________________________________________________
//

section
    h1 wellcome ,