//- //
//-     LINK SCRIPT FILES HERE .
//-     YOU CAN PUT JS BUT ITS RECOMENDED TO CREATE A SAPARATE 
//-     FILE FOR THAT AND TEHN INCLUDE THAT .js FILE HERE
//-     _______________________________________________________
//-     @TEMPLATE NAME : PART ( FOOTER )
//-     @PACKAGE : #{package}
//-     @SUPPORT : <https://twitter.com/inset_>
//-     _______________________________________________________
//-     CREATED ON : 
//-     GMT+0530 (India Standard Time)
//-     CREATED BY : AVIJIT SARKAR <https://twitter.com/inset_>
//-     _______________________________________________________
//- //

// Starting the [footer] part 
//- script(src="")