

//- //
//-     INCLUDE ALL YOUR VARIAL FILES HERE :
//-     _______________________________________________________
//-     @TEMPLATE NAME : VAR LIST
//-     @PACKAGE : #{package}
//-     @SUPPORT : <https://twitter.com/inset_>
//-     _______________________________________________________
//-     CREATED ON : 
//-     GMT+0530 (India Standard Time)
//-     CREATED BY : AVIJIT SARKAR <https://twitter.com/inset_>
//-     _______________________________________________________
//- //

//- PROJECT INFO ( GENARAL )
include ./info.pug